@page
@model CartModel
@{
    ViewData["Title"] = "Cart";
}

<h1>Cart</h1>


<table class="table table-bordered table-hover table-striped table-opacity" width="60%">
	<colgroup>
		<col style="width : 24%">
		<col style="width : 24%">
		<col style="width : 24%">
		<col style="width : 24%">
		<col style="width : 4%">
	</colgroup>
	<thead>
		<tr class="btn-tertiary active">
			<th>
				Name
			</th>
			<th>
				Price
			</th>
			<th>
				Amount
			</th>
			<th>
				Total Price For This Item
			</th>
			<th>
				Actions
			</th>
		</tr>
	</thead>
	<tbody>
		@if (Model.cartService._cart.Items != null)
		{
			foreach (var item in Model.cartService._cart.Items.Values)
			{
				<tr class="btn-secondary">
					<td>
						@item.Name
					</td>
					<td>
						@Model.cartService.GetPrice(item.Name) kr.
					</td>
					<td>
						@Model.cartService._amount.Read(item.Name)
					</td>
					<td>
						@(Model.cartService.GetPrice(item.Name) * Model.cartService._amount.Read(item.Name)) kr.
					</td>
					<td>
						<a class="glyphicon glyphicon-plus" type="button" title="Add" asp-page="Cart" asp-route-createName="@item.Name"><i class="fa fa-edit"></i></a>

						<a class="glyphicon glyphicon-minus" type="button" title="Delete" asp-page="Cart" asp-route-deleteName="@item.Name"><i class="fa fa-trash"></i></a>
					</td>
				</tr>
			}
		}
	</tbody>
</table>

<table class="table table-bordered table-hover table-striped table-opacity" width="30%"> 
	
	<colgroup>
		<col style="width : 50%">
		<col style="width : 50%">
	</colgroup>
	@if (Model.cartService._cart.Items != null) {
		double price = Model.cartService.CalculateTotalPriceWTax() * Model.GetPriceMultiplier();
		<tbody>
			<td>
				Cart Total
			</td>
			<td>
				@Model.cartService.CalculateTotalPriceExTax() kr.
			</td>
		</tbody>
		<tbody>
			<td>
				Tax
			</td>
			<td>
				@{double tax = price*0.2d;}
				<p>@tax</p>
				@* @(Model.cartService.CalculateTotalPriceWTax() - Model.cartService.CalculateTotalPriceExTax()) kr. *@
			</td>
		</tbody>
		<tbody>
			<td>
				Coupon Applied
			</td>
			<td>
				@if (Model.CurrentlyAppliedCoupon != null)
				{ <p>@Model.CouponPercentOff()%</p> }
				else { <p>false</p> }
			</td>
		</tbody>
		<tbody>
			<td>
				Checkout Total
			</td>
			<td>
				@price kr.
			</td>
		</tbody>
		<tbody>
			<td>
			@* <a class="btn btn-success" href="Checkout" role="button">Checkout</a> *@
				
				<a class="btn-success btn" type="button" title="Checkout" asp-page="Checkout" asp-route-appliedCoupon="@Model.CurrentlyAppliedCoupon">Checkout</a>
				
			</td>
			<td>
			<li class="nav-item ">
				<form method="post">
					@* <input asp-for="SearchWord" type="text" id="form2Example18" class="form-control form-control-lg" placeholder="Search..." /> *@
					Apply Coupon <input asp-for="CouponToApply" type="text" id="form2Example18" class="form-control form-control-lg" placeholder="Coupon...">
					<input type="submit" value="Apply" asp-page-handler="ApplyCoupon" />
				</form>
			</li>
			</td>
		</tbody>
	}


</table>