@page
@model CartModel
@{
    ViewData["Title"] = "Cart";
}

<h1>Cart</h1>


<table class="table table-bordered table-hover table-striped table-opacity" width="60%">
	<colgroup>
		<col style="width : 5%">
		<col style="width : 77%">
		<col style="width : 9%">
		<col style="width : 9%">
	</colgroup>
	<thead>
		<tr class="btn-secondary active">
			<th>
				Name
			</th>
			<th>
				Price
			</th>
			<th>
				Amount
			</th>
			<th>
				Actions
			</th>
		</tr>
	</thead>
	<tbody>
		@if (Model.cartService._cart.Items != null)
		{
			foreach (var item in Model.cartService._cart.Items)
			{
				<tr class="btn-secondary">
					<td>
						@item.Value.Name
					</td>
					<td>
						@item.Value.Price
					</td>
					<td>
						@Model.cartService._amount.Read(item.Value.Name);
					</td>
					<td>
						<a class="btn btn-primary btn-sm" type="button" title="Add" asp-page="Cart" asp-route-createName="@item.Value.Name"><i class="fa fa-edit"></i></a>
						
						<a class="btn btn-danger btn-sm " type="button" title="Delete" asp-page="Cart" asp-route-deleteName="@item.Value.Name"><i class="fa fa-trash"></i></a>
					</td>
				</tr>
			}
		}
	</tbody>
</table>
