@page
@model CartModel
@{
    ViewData["Title"] = "Cart";
}

<h1>Cart</h1>


<table class="table table-bordered table-hover table-striped table-opacity" width="60%">
	<colgroup>
		<col style="width : 24%">
		<col style="width : 24%">
		<col style="width : 24%">
		<col style="width : 24%">
		<col style="width : 4%">
	</colgroup>
	<thead>
		<tr class="btn-secondary active">
			<th>
				Name
			</th>
			<th>
				Price
			</th>
			<th>
				Amount
			</th>
			<th>
				Total Price For This Item
			</th>
			<th>
				Actions
			</th>
		</tr>
	</thead>
	<tbody>
		@if (Model.cartService._cart.Items != null)
		{
			foreach (var item in Model.cartService._cart.Items.Values)
			{
				<tr class="btn-secondary">
					<td>
						@item.Name
					</td>
					<td>
						@Model.cartService.GetPrice(item.Name)
					</td>
					<td>
						@Model.cartService._amount.Read(item.Name);
					</td>
					<td>
						@(Model.cartService.GetPrice(item.Name) * Model.cartService._amount.Read(item.Name));
					</td>
					<td>
						<a class="btn btn-primary btn-sm" type="button" title="Add" asp-page="Cart" asp-route-createName="@item.Name"><i class="fa fa-edit"></i></a>
						
						<a class="btn btn-danger btn-sm " type="button" title="Delete" asp-page="Cart" asp-route-deleteName="@item.Name"><i class="fa fa-trash"></i></a>
					</td>
				</tr>
			}
		}
	</tbody>
</table>

<table class="table table-bordered table-hover table-striped table-opacity" width="30%"> 
	
	<colgroup>
		<col style="width : 50%">
		<col style="width : 50%">
	</colgroup>
	@if (Model.cartService._cart.Items != null) {
		<tbody>
			<td>
				Cart Total
			</td>
			<td>
				@Model.cartService.CalculateTotalPriceExTax()
			</td>
		</tbody>
		<tbody>
			<td>
				Tax
			</td>
			<td>
				@(Model.cartService.CalculateTotalPriceWTax() - Model.cartService.CalculateTotalPriceExTax())
			</td>
		</tbody>
		<tbody>
			<td>
				Coupon Applied
			</td>
			<td>
				@Model.cartService.Coupon
			</td>
		</tbody>
		<tbody>
			<td>
				Checkout Total
			</td>
			<td>
				@Model.cartService.CalculateTotalPriceWTax()
			</td>
		</tbody>
		<tbody>
			<td>
			<a class="btn btn-success" href="Checkout" role="button">Checkout</a>
			</td>
			<td>
			<li class="nav-item ">
				Apply Coupon <input type="text" name="SearchString">
				<input type="submit" value="Apply" />
			</li>
			</td>
		</tbody>
	}


</table>