@page
@model KingKindProjekt.Pages.OurPages.InspectItemModel
@{
}



@{
    var item = Model.item;
    string imagePath = Url.Content("~/" + item.PathToImage);
}
<img src="@imagePath" class="imageClass" style="width: 100%; height: auto;">
<h2>@item.Name</h2>
<h3>@item.Brand</h3>
<p>@item.Price</p>
<br />
<p>@item.Description</p>

<a class="btn btn-primary" type="button" title="Add to cart" asp-page="InspectItem" asp-route-ItemName="@item.Name" asp-route-createName="@item.Name"></a>
<a class="btn btn-danger" type="button" title="Remove from cart" asp-page="InspectItem" asp-route-ItemName="@item.Name" asp-route-createName="" asp-route-deleteName="@item.Name"></a>

 
@* <form method="post">
    <input />
    <a asp-for="AddToCart" class="btn btn-primary" type="submit" value="@item.Name" asp-page="InspectItem" asp-route-ItemName="@item.Name" asp-route-createName="@item.Name"></a>
</form> *@