@page
@model KingKindProjekt.Pages.OurPages.InspectItemModel
@{
}



@{
    var item = Model.item;
    string imagePath = Url.Content("~/res/" + item.PathToImage);
    @if (item.PathToImage == null || item.PathToImage.Length == 0)
    {
        imagePath = Url.Content("~/res/NoPicture.png");
    }
}
<img src="@imagePath" class="imageClass" style="width: 100%; height: auto;">
<h2>@item.Name</h2>
<h3>@item.Brand</h3>
<p>@Model.ItemService.GetPrice(item.Name)</p>
<br />
<p>@item.Description</p>

<a class="btn-primary btn" type="button" title="Add to cart" asp-page="InspectItem" asp-route-ItemName="@item.Name" asp-route-createName="@item.Name">Add to cart</a>
<a class="btn-primary btn-danger btn" type="button" title="Remove from cart" asp-page="InspectItem" asp-route-ItemName="@item.Name" asp-route-createName="" asp-route-deleteName="@item.Name">Remove from cart</a>
