@page
@model KingKindProjekt.Pages.OurPages.UserModel
@{
    ViewData["Title"] = "User";
}
@{

    <head>
    </head>
    <body>
        <form method="post">
            <section class="h-100 h-custom gradient-custom-2">
                <div class="container py-5 h-100">
                    <div class="row d-flex justify-content-center align-items-center h-100">
                        <div class="col-12">
                            <div class="card card-registration card-registration-2" style="border-radius: 15px;">
                                <div class="card-body p-0">
                                    <div class="row g-0">

                                        <div class="col-lg-6">
                                            <div class="p-5">
                                                <h3 class="fw-normal mb-5" style="color: #000000;">General Infomation</h3>

                                                <div class="mb-4 pb-2">
                                                    <div class="form-outline form-group">
                                                        <label asp-for="_Account.Name" class="control-label"></label>
                                                        <input asp-for="_Account.Name" type="text" class="form-control" value="@Model._Account.Name"/>
                                                        <span asp-validation-for="_Account.Name" class="text-danger"></span>
                                                        @* <span asp-validation-for="_Account.CVR" class="text-danger"></span> *@
                                                        @* <input type="text" id="form3Examplev4" class="form-control form-control-lg" />
                                                    <label class="form-label" for="form3Examplev4">CVR-(Valgfri)</label> *@
                                                    </div>
                                                </div>


                                                <div class="mb-4 pb-2">
                                                    <div class="form-outline form-group">
                                                        <label asp-for="_Account.Password" class="control-label"></label>
                                                        <input asp-for="_Account.Password" type="password" class="form-control" value="@Model._Account.Password" />
                                                        <span asp-validation-for="_Account.Password" class="text-danger"></span>
                                                        @* <span asp-validation-for="_Account.CVR" class="text-danger"></span> *@
                                                        @* <input type="text" id="form3Examplev4" class="form-control form-control-lg" />
                                                    <label class="form-label" for="form3Examplev4">CVR-(Valgfri)</label> *@
                                                    </div>
                                                </div>
                                                <div class="mb-4 pb-2">
                                                    <div class="form-outline form-group">
                                                        <label asp-for="PasswordChecker" class="control-label"></label>
                                                        <input asp-for="PasswordChecker" type="password" class="form-control" value="@Model._Account.Password" />
                                                        <span asp-validation-for="PasswordChecker" class="text-danger"></span>
                                                    </div>
                                                </div>

                                            <div class="mb-4 pb-2">
                                                <div class="form-outline form-group">
                                                    <label asp-for="_Account.CVR" class="control-label"></label>
                                                    <input asp-for="_Account.CVR" class="form-control" value="@Model._Account.CVR" />
                                                </div>
                                            </div>


                                                <div class="row">
                                                    <div class="col-md-6 mb-4 pb-2 mb-md-0 pb-md-0">
                                                    </div>
                                                    <div class="col-md-6">
                                                    </div>
                                                </div>
                                            </div>

                                            <input asp-page-handler="Update" type="submit" value="Update user info" class="btn btn-info btn-lg btn-block" name="Update" style="position: absolute; bottom: 0; width: 50%; left: 25%;" />

                                            @* <button type="button" class="btn btn-light btn-lg"
                                        data-mdb-ripple-color="dark">
                                        Register
                                        </button> *@

                                        
                                            
                                        </div>
                                        <div class="col-lg-6 bg-indigo text-dark">
                                            <div class="p-5">
                                                <h3 class="fw-normal mb-5">Contact Details</h3>

                                            <div class="mb-4 pb-2">
                                                <div class="form-outline form-group form-white">
                                                    <label asp-for="Address" class="control-label"></label>
                                                    <input asp-for="Address" class="form-control" value="@Model._Account.Address" />
                                                    <span asp-validation-for="Address" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="mb-4 pb-2">
                                                <div class="form-outline form-group form-white">
                                                    <label asp-for="_Account.Country" class="control-label"></label>
                                                    <input asp-for="_Account.Country" class="form-control" value="@Model._Account.Country" />
                                                    <span asp-validation-for="_Account.Country" class="text-danger"></span>
                                                </div>
                                            </div>


                                            <div class="mb-4 pb-2 row">
                                                <div class="form-outline form-group form-white" style="width: 30%;">
                                                    <label asp-for="CountryCode" class="control-label"></label>
                                                    <input asp-for="CountryCode" class="form-control" value="@Model.CountryCode" />
                                                    <span asp-validation-for="CountryCode" class="text-danger"></span>
                                                </div>

                                                <div class="form-outline form-group form-white" style="width: 70%;">
                                                    <label asp-for="PhoneNumber" class="control-label"></label>
                                                    <input asp-for="PhoneNumber" class="form-control" value="@Model.PhoneNumber" />
                                                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                                    </div>

                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6 mb-4 pb-2 mb-md-0 pb-md-0">
                                                    </div>
                                                    <div class="col-md-6">
                                                    </div>
                                                </div>
                                        <input asp-page-handler="Delete" type="submit" value="Delete user" class="btn btn-danger btn-lg btn-block" name="Delete" style="position: absolute; bottom: 0; width: 50%; left: 25%;" />
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </section>
        </form>
    </body>



    <h1>Receipt History</h1>
    foreach (string str in KingKindProjekt.Services.AccountService.LoggedInAccount.Receipts){
    string[] strings = str.Split("\n");
    foreach (string s in strings)
    {
        <p>@s</p>
    }
}
}