@page
@model KingKindProjekt.Pages.OurPages.ViewProductsModel
@{
    ViewData["Title"] = "All Products";
}
<link rel="stylesheet" type="text/css" href="/css/ViewProducts.css" />

<div class="wrapper">
    <div class="brands">
        <h1>Brands</h1>
        @foreach (string brand in Model.Brands)
        {
            <p>@brand</p>
        }
    </div>
    <div class="mainPage">
        <div class="container row-cols-3">
            @foreach (Models.Item item in Model.Items)
            {
                <a class="nav-link text-dark" asp-area="" asp-page="/OurPages/InspectItem" asp-route-ItemName="@item.Name">
                @* <a href="InspectItem" asp-route-ItemName="@item.Name"> *@
                    <div class="card">
                        @* draw the image *@
                        @{string imagePath = Url.Content("~/" + item.PathToImage);}
                        @if (item.PathToImage.Length == 0)
                        {
                            imagePath = Url.Content("~/res/NoPicture.png");
                        }
                        <img src="@imagePath" class="imageClass">
                        <h2>@item.Name</h2>
                        <h3>@item.Brand</h3>
                        <p>@Model.itemService.GetPrice(item.Name)</p>
                    </div>
                </a>
            }
        </div>
    </div>
</div>