@page
@model KingKindProjekt.Pages.OurPages.ViewProductsModel
@{
    ViewData["Title"] = "All Products";
}
<link rel="stylesheet" type="text/css" href="/css/ViewProducts.css" />

<div class="wrapper">
    <div style="padding-left: 10px;" class="brands">
        <h1>Brands</h1>
        @foreach (string brand in Model.Brands)
        {
            <a style="padding-left: 20px;" class="nav-link text-dark" asp-area="" asp-page="/OurPages/ViewProducts" asp-route-searchBrands="@brand">@brand</a>
        }
    </div>
    <div class="mainPage">
        <div style="float: left;"> @* Filter products by type button *@
            <form method="post">
                <select asp-for="filterItemType" asp-items="Html.GetEnumSelectList<KingKindProjekt.Models.ItemType>()"></select>
                <button class="btn btn-primary" asp-page-handler="FilterItemsByType" type="submit" asp-route-itemTypeFilter="@Model.filterItemType">Filter</button>
            </form>
        </div>
        <div class="container row-cols-sm-3 row-cols-md-6 row-cols-lg-9"> @* Display cards with all the products *@
            @foreach (Models.Item item in Model.Items)
            {
                <a class="nav-link text-dark" asp-area="" asp-page="/OurPages/InspectItem" asp-route-ItemName="@item.Name">
                @* <a href="InspectItem" asp-route-ItemName="@item.Name"> *@
                    <div class="card" style="width: 100%">
                        @* draw the image *@
                        @{string imagePath = Url.Content("~/res/" + item.PathToImage);}
                        @if (item.PathToImage != null && item.PathToImage.Length == 0)
                        {
                            imagePath = Url.Content("~/res/NoPicture.png");
                        }
                        <img src="@imagePath" class="imageClass" style="max-height: 55%;">
                        <h2>@item.Name</h2>
                        <h3>@item.Brand</h3>
                        <p>@Model.itemService.GetPrice(item.Name)</p>
                    </div>
                </a>
            }
        </div>
    </div>
</div>